<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConsultantName" value="Alexis Atchison" />
    <add key="TemplatePath" value="C:\LRS Docs\Template - Status Report.docx" />
    <add key="WordOutputPath" value="C:\LRS Docs\Status Reports\Atchison Status Report.docx" />
    <add key="EmailTo" value="Sue.Harvey@lrs.com,Jakob.Lohrenz@lrs.com,Jeff.Johnson@lrs.com" />
    <add key="EmailSubject" value="Weekly Status Report" />
    <add key="EmailBody" value="Have a great weekend!" />
  </appSettings>
</configuration>