<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConsultantName" value="Alexis Atchison" />
    <add key="TemplateFileName" value="Template - Status Report.docx" />
    <add key="WordOutputFileName" value="Status_Reports\Status Report.docx" />
    <add key="EmailSmtpHost" value="SMTPR.illinois.gov"/>
    <add key="EmailSendTo" value="Sue.Harvey@lrs.com,Jakob.Lohrenz@lrs.com,Jeff.Johnson@lrs.com" />
    <add key="DebugEmailSendTo" value="Alexis.Atchison@illinois.gov" />
    <add key="EmailSendFrom" value="Alexis.Atchison@illinois.gov"/>
    <add key="EmailSendFromDisplay" value="Atchison, Alexis"/>
    <add key="EmailSubject" value="Weekly Status Report" />
    <add key="EmailBody" value="Have a great weekend!" />
  </appSettings>
</configuration>