<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- email settings -->
    <add key="EmailSmtpHost" value="SMTPR.illinois.gov"/>
    <add key="EmailSubject" value="Weekly Status Report" />
    <add key="EmailBody" value="Have a great weekend!" />
    <!-- template filenames -->
    <add key="TemplateFileName" value="Templates\Template - Status Report.docx" />
    <add key="WordOutputFileName" value="Status_Reports\Status Report.docx" />
    <!-- consultant info -->
    <add key="ConsultantName" value="Consultant Name" />
    <add key="ConsultantPhone" value="217.555.1212" />
    <add key="EmailSendFrom" value="Consultant.Name@illinois.gov"/>
    <add key="EmailSendFromDisplay" value="Name, Consultant"/>
    <add key="ManagerName" value="Manager Name"/>
    <add key="ConsultingContacts" value="Sue.Harvey@lrs.com,Jakob.Lohrenz@lrs.com,Jeff.Johnson@lrs.com" />
  </appSettings>
</configuration>